@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

/* styling header */

header{
    width: 100%;
    background-color: #E74694;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.headtext{
   text-align: center;
   padding: 2px;
   color: #ffff;
}

/* styling navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}

.logo-image img{
    width: 188px;
    margin-right: 7px;
}

.logo-image .logo-text{
    margin-left: 10px;
    background-color: #ccc;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

.menu-list{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 180px;
}

.menu-list ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu-list ul li{
    font-size: 1.25rem;
    margin-right: 25px;
    color: var(--accent-color-dark);
}

.menu-list ul li:hover{
    color: var(--accent-color);
}

.menu-list button{
    margin-right: 10px;
    width: 110px;
    height: 45px;
    padding: 10px;
}

.signin{
    border: 1px solid var(--primary-text-color);
    color: var(--primary-text-color);
    border-radius: 5px;
    background-color: #ffff;
    font-size: 1rem;
}

.signin:hover{
    border:  1px solid var(--accent-color);
    color: var(--accent-color);
}

.signup{
    background-color: var(--accent-color);
    color: #ffff;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
}
.signup:hover{
    background-color: var(--accent-color-dark);
}

/* styling hero section */

.hero-section{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-section .hero-text-area{
    max-width: 400px;
    text-align:left;
}

.hero-section .hero-text-area h1{
   font-weight: 500;
}

.hero-text-area .hero-button{
    margin-top: 15px;
    width: 130px;
    height: 45px;
    font-size: 1rem;
    font-weight: bolder;
    color: #ffff;
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
}

.hero-text-area .hero-button:hover{
    background-color: var(--accent-color-dark);
}

.hero-section .hero-image img{
    width: 568px;
}

/* partner section */

.partner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.partner-container h3{
    padding-top: 50px;
    font-size: 1rem;
}

.partner-container .logo-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}
 .logo-container img{
    max-height: 46px;
}

/* feature section styling */

.feature-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.feature-section .feature-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 100%;
    margin-top: 60px;
}


.feature-section .feature-heading h2{
  margin-bottom: 30px;
}

.common-featurebtn{
    width: 184px;
    height: 44px;
    background-color: transparent;
    border: 1px solid  var(--accent-color-dark);
    border-radius: 5px;
    font-size: 1rem;
    color: var(--accent-color-dark);
}

.common-featurebtn:hover{
    border: 1px solid  var(--accent-color);
    color: var(--accent-color);
}

.feature-content{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(2, 1fr);
   width: 100%;
}

.feature-content .feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
    margin-top: 24px;
}

.feature-content .feature-card img{
   max-width: 40px;
   margin-bottom: 14px;
}

.feature-content .feature-card h3{
    margin-bottom: 14px;
 }
 
 .feature-content .feature-card p{
    margin-bottom: 18px;
    max-width: 250px;
    text-align: center;
 }
 

 /* page section */

.page-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.page-section .page-section-image img{
    max-width: 432px;
}

.page-section .page-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
}

.page-details h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.page-details h2{
   margin-bottom: 15px;
}

.page-details p{
    width: 420px;
    margin-bottom: 15px;
}

.testimonial img{
    max-height: 36px;
    margin-bottom: 15px;
}

.testimonial p{
    font-weight: 600;
    color: var(--primary-text-color);
}

.testimonial .person{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.person img{
  max-height: 46px;
  margin-right: 20px;
}

.person .page-details {
   margin-left: 30px;
}

.person .person-detail h4{
   font-size: 15px;
}

.person .person-detail p{
    font-size: 15px;
    font-weight: 400;
 }

 /* example section style */

 .example-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .example-section .example-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
 }

 .example-head h2{
   font-size: 2.5rem;
   margin-bottom: 15px;
 }

 .example-head .example-btn{
    width: 184px;
    height: 44px;
    background-color: transparent;
    border: 1px solid  var(--accent-color-dark);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--accent-color-dark);
    margin-bottom: 15px;
 }

.example-head .example-btn:hover{
    border: 1px solid  var(--accent-color);
    color: var(--accent-color);
}

.example-section .list-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-bottom: 15px;
}

.list-box .list-card{
    max-width: 250px;
    height: 300px;
    padding: 10px;
    border-radius: 5px;
}

.list-box .list-card:hover{
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,.2);
}

.list-card p{
    position: relative;
    top: 180px;
    bottom: 0;
    color: black;
    font-weight: 600;
    z-index: 1;
}

.card1{
    background-image: linear-gradient(180deg,rgba(0,0,0,.2),rgba(0,0,0,.8));
    background-image: url('asset/istockphoto-1340869060-612x612.jpg');
}

.card2{
    background-image: linear-gradient(180deg,rgba(0,0,0,.2),rgba(0,0,0,.8));
    background-image: url('asset/sign-429419_960_720.jpg');
}

.card3{
    background-image: linear-gradient(180deg,rgba(0,0,0,.2),rgba(0,0,0,.8));
    background-image: url('asset/istockphoto-1141465446-612x612.jpg');
}

.card4{
    background-image: url('asset/old-739112__340.jpg');
}

/* offer page */

.offer-page{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-bottom: 35px;
}

.offer-page h2{
    margin-bottom: 45px;
    font-size: 2.5rem;
    font-weight: 400;
}

.offer-page p{
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.offer-page .offerbtn{
   margin-top: 15px;
   width: 160px;
   height: 47px;
   background-color: var(--accent-color);
   color: #ffff;
   font-size: 1rem;
   border: none;
   border-radius: .5rem;
   font-weight: 700;
} 

.offerbtn:hover{
  background-color: var(--primary-text-color);
}

/* footer */

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .footer-link{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(195, 191, 191,0.5);
    padding: 80px 80px;
}

.footer-link img{
    max-height: 36px;
}

.footer-list h3{
    margin-bottom: 25px;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

.footer-list p{
    font-size: 1rem;
}

.footer-list p:hover{
    color: var(--accent-color);
}

footer .sub-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #B9CDE4;
    height: 65px;
    padding: 15px;
}

.sub-footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin-left: 25px;
}

.sub-footer div a{
    color: var(--primary-text-color);
}

.sub-footer div a:hover{
    color: var(--accent-color-dark);
}

.sub-footer .social-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    margin-left: 25px;
}

.social-icons i{
    font-size: 1rem;
}